*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

*:focus{
    outline: none;

}

body{
    position: relative;
    width: 100%;
    min-height: 100vh;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url("car.jfif");
    background-size: cover;
    background-position: center;
    font-family: "roboto", sans-serif;

}

.form{
    width: 400px;
    height: auto;
    color: #fff;
    font-family: "roboto",sans-serif;
    justify-content: center;
    align-items: center;

}

.heading{
    opacity: 0;
    text-transform: capitalize;
    text-align: center;
    font-size: 80px;
    font-weight: 300;
    margin-bottom: 50px;

}


input,.submit-btn{
    opacity: 0;
    width: 80%;
    height: 35px;
    display: block;
    margin: 20px auto;
    border-radius: 5px;
    background: rgba(255,255,255,0.3);
    border: none;
    color: #fff;
    padding: 15px;
    transition: .5s;
    text-transform: capitalize;

}

input::placeholder{
    color: #fff; 

}

input:focus,.submit-btn:hover{
    background: #fff;
    color: #000;

}

input:focus::placeholder{
    color: #000;

}

.submit-btn{
    font-weight: 700;
    width: 110px;
    justify-content: center;
    text-align: center;    
    background-color: white;
    color: rgb(29, 16, 16);
    padding: 10px;
    cursor: pointer;
    margin: 50PX auto 0;
}
.submit-btn:hover{
    
    opacity: 0.2;
    transition: ease-in-out .4s;
    text-decoration: underline;
}

.link{
    opacity: 0;
    text-align: center;
    text-transform: capitalize;
    text-decoration: none;
    color: rgba(255,255,255,0.5);
    display: block;
    margin: 30px auto;

}

.link:hover{
    color: #fff;

}

.alert-box{
    position: absolute;
    top: -100%;
    left: 50%;
    transform: translate(-50%);
    min-width: 150px;
    max-width: 90%;
    width: auto;
    height: auto;
    padding: 10px;
    text-transform: capitalize;
    background: rgba(255,119,119);
    border-top: 10px solid rgba(255,37,37);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    color: #fff;
    font-family: "roboto",sans-serif;
    text-align: center;
    transition: 1s;
}
.btn  {
    text-align: center;
    color: #fff;
    background-color: rgba(255, 255, 255, 0);
    justify-content: center;
    align-items: center;
    padding: 5px 30px;
    border: 2px solid white;
    border-radius: 10%;
    margin-left: 120px;
    width: 110px;
    cursor: pointer;
}
.btn:hover{
    background-color: #fff;
    padding: 9px 22px;
    border-color: black;
    color: black;
    text-decoration: underline;
    opacity: 0.1;
    transition: ease-in-out .7s;
}